#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	background-size: cover;
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.47),
			rgba(0, 0, 0, 0.47)
		),
		url("https://images.unsplash.com/photo-1523474438810-b04a2480633c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
}

body {
	padding-left: 140px;
	padding-right: 140px;
}

.logo {
	float: left;
	font-size: 25px;
	color: white;
	font-family: Comfortaa;
}

.signin {
	float: right;
	font-size: 13px;
	height: 39px;
	border-radius: 30px;
	outline: none;
	width: 100px;
	border: none;
	background: rgba(0, 0, 0, 0.16);
	color: white;
	font-family: Lato;
}

.contents {
	position: absolute;
	width: 410px;
	height: 67px;
	left: 120px;
	top: 328px;
}

.title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 71px;

  color: #FFFFFF;
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  width: 512px;
  color: #FFFFFF;
}